/**
*
* {{ properCase name }}
*
*/

// Node_Module Imports
import React from 'react';

export interface {{ properCase name }}Props {
    className?: string,
    children?: React.ReactNode
}

const {{ properCase name }}: React.FunctionComponent<{{ properCase name }}Props>  = ({ className, children }: {{ properCase name }}Props) => <div className={className}>
  {children}</div>;

{{ properCase name }}.defaultProps = {};

export default { {{ properCase name }} };